OCR_HOST=127.0.0.1
OCR_PORT=8898
OCR_LOG_LEVEL=info

OCR_LANG=ch
OCR_AUTO_LOAD=false
OCR_MAX_UPLOAD_SIZE_MB=20
OCR_ALLOWED_IMAGE_EXTENSIONS=.jpg,.jpeg,.png,.bmp,.webp
OCR_MODEL_CACHE_DIR=model_cache
OCR_TEMP_DIR=tmp
